In [2]:
# Create a list of your friends' names and now create a list of tuples. 
# The tuple should contain the friend’s name and the length of the name. 
# For Example: if someone’s name is Aditya, the tuple would be: (‘Aditya’, 6)

In [13]:
friends = ['Joey', 'Louis', 'Aditya']

new_list = []
for name in friends:
    friends_tuple = (name, len(name))
    new_list.append(friends_tuple)

print(new_list)

[('Joey', 4), ('Louis', 5), ('Aditya', 6)]

In [14]:
########################

In [15]:
my_expenses = dict()
wife_expenses = dict()

In [16]:
# adding data to the dictionaries
my_expenses['Clothes'] = 100
my_expenses['Shoes'] = 1000
my_expenses['Watch'] = 900
my_expenses['Mobile Recharge'] = 699
my_expenses['Petrol'] = 1980

In [17]:
wife_expenses.update({
    "Mobile Recharge" : 799,
    "DTH recharge" : 999,
    "Clothes" : 2310,
    "Makeup" : 3670,
    "Shoes" : 999
})

In [18]:
my_expenses

{'Clothes': 100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980}

In [19]:
total = 0
for key in my_expenses:
    total += my_expenses[key]

my_expenses['total'] = total

my_expenses

{'Clothes': 100,
 'Shoes': 1000,
 'Watch': 900,
 'Mobile Recharge': 699,
 'Petrol': 1980,
 'total': 4679}

In [20]:
total = 0
for key in wife_expenses:
    total += wife_expenses[key]

wife_expenses['total'] = total

wife_expenses

{'Mobile Recharge': 799,
 'DTH recharge': 999,
 'Clothes': 2310,
 'Makeup': 3670,
 'Shoes': 999,
 'total': 8777}

In [21]:
total_gen = my_expenses['total'] + wife_expenses['total']
print(total_gen)

13456

In [22]:
if my_expenses['total'] > wife_expenses['total']:
    diff = my_expenses['total'] - wife_expenses['total']
    print(f'you spend more: the difference is {diff}')
else:
    diff = wife_expenses['total'] - my_expenses['total'] 
    print(f'You wife spend more: the difference is {diff}')

You wife spend more: the difference is 4098

In [24]:
# c. finding expensive thing
# If we can sort the dictionary in increasing order or decreasing order
# we can find it easily

def sort_the_dict(dictionary):
    # because we need to sord the dictionary according to the values
    sorted_dict = sorted(dictionary.items(), key=lambda kv:kv[1])
    
    return sorted_dict

In [25]:
sort_the_dict(my_expenses)

[('Clothes', 100),
 ('Mobile Recharge', 699),
 ('Watch', 900),
 ('Shoes', 1000),
 ('Petrol', 1980),
 ('total', 4679)]

In [26]:
sort_the_dict(wife_expenses)

[('Mobile Recharge', 799),
 ('DTH recharge', 999),
 ('Shoes', 999),
 ('Clothes', 2310),
 ('Makeup', 3670),
 ('total', 8777)]

In [27]:
print("You spent more on: ")
sort_the_dict(my_expenses)[-2]

You spent more on:

('Petrol', 1980)

In [28]:
print("Your wife spent more on: ")
sort_the_dict(wife_expenses)[-2]

Your wife spent more on:

('Makeup', 3670)