# File Handling Exercise

Solution

### 1. student_marks.csv contains the marks and other details for some students. Write a python program to:
- Open the file in read mode
- Create dictionary from the given data
- Add a new field to the dictionary `total_marks` and store total marks of the students.
- Add new field to the dictionary `Average` and store average marks of the students
- Sort the data according to the average marks of the students
- Create a new file and write this information to the new file
	(https://www.kaggle.com/arunkumar413/student-marks)

In [28]:
# downloading and saving the file
# TODO: use the given link to download the file
# TODO: Save the file in the current directory after downloading

In [29]:
# opening the file in read mode
f = open('student_marks.csv', 'r')

In [30]:
f.read()

',Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\nJohn,M,05/04/1988,55,45,56,87,21,52,89,65\nSuresh,M,4/5/1987,75,55,,64,90,61,58,2\nRamesh,M,25/5/1989,25,54,89,76,95,87,56,74\nJessica,F,12/8/1990,78,55,86,63,54,89,75,45\nJennifer,F,2/9/1989,58,96,78,46,96,77,83,53'

In [31]:
# creating dictionary
f.seek(0)  #goto the start again
d = {}
keys = f.readline()
keys

',Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics\n'

In [32]:
keys = keys.split(',')
keys

['',
 'Gender',
 'DOB',
 'Maths',
 'Physics',
 'Chemistry',
 'English',
 'Biology',
 'Economics',
 'History',
 'Civics\n']

In [33]:
# initializing the dictionary
for key in keys:
    d[key] = []

print(d)

{'': [], 'Gender': [], 'DOB': [], 'Maths': [], 'Physics': [], 'Chemistry': [], 'English': [], 'Biology': [], 'Economics': [], 'History': [], 'Civics\n': []}

In [34]:
# Adding data to the dictionary
for line in f.readlines():
    data = line.split(',')
    j = 0
    for i in d:
        d[i].append(data[j])
        j += 1

print(d)

{'': ['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'], 'Gender': ['M', 'M', 'M', 'F', 'F'], 'DOB': ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'], 'Maths': ['55', '75', '25', '78', '58'], 'Physics': ['45', '55', '54', '55', '96'], 'Chemistry': ['56', '', '89', '86', '78'], 'English': ['87', '64', '76', '63', '46'], 'Biology': ['21', '90', '95', '54', '96'], 'Economics': ['52', '61', '87', '89', '77'], 'History': ['89', '58', '56', '75', '83'], 'Civics\n': ['65\n', '2\n', '74\n', '45\n', '53']}

In [35]:
import pprint
pprint.pprint(d)

{'': ['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'],
 'Biology': ['21', '90', '95', '54', '96'],
 'Chemistry': ['56', '', '89', '86', '78'],
 'Civics\n': ['65\n', '2\n', '74\n', '45\n', '53'],
 'DOB': ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'],
 'Economics': ['52', '61', '87', '89', '77'],
 'English': ['87', '64', '76', '63', '46'],
 'Gender': ['M', 'M', 'M', 'F', 'F'],
 'History': ['89', '58', '56', '75', '83'],
 'Maths': ['55', '75', '25', '78', '58'],
 'Physics': ['45', '55', '54', '55', '96']}

In [36]:
d.values()

dict_values([['John', 'Suresh', 'Ramesh', 'Jessica', 'Jennifer'], ['M', 'M', 'M', 'F', 'F'], ['05/04/1988', '4/5/1987', '25/5/1989', '12/8/1990', '2/9/1989'], ['55', '75', '25', '78', '58'], ['45', '55', '54', '55', '96'], ['56', '', '89', '86', '78'], ['87', '64', '76', '63', '46'], ['21', '90', '95', '54', '96'], ['52', '61', '87', '89', '77'], ['89', '58', '56', '75', '83'], ['65\n', '2\n', '74\n', '45\n', '53']])

In [37]:
# Calculating the total marks
d['Total Marks'] = [0]*5
for i in range(5):
    for key in d:
        try:
            d['Total Marks'][i] += int(d[key][i])
        except:
            pass
print(d['Total Marks'])

[940, 810, 1112, 1090, 1174]